/*--------------------------reset--------------------------*/
body{
    background:#fff;
    height:2000px;
}
a{
    text-decoration:none;
    &:hover{
        text-decoration:none;
    }
}
/*--------------------------font--------------------------*/
@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-180deg);
    }
}
@keyframes rotate1{
    0%{
        transform:rotate(-180deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
@keyframes mobilenav{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(45deg);
    }
}
@keyframes mobilenav1{
    0%{
        transform:rotate(45deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
@keyframes mobilenav2{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-45deg);
    }
}
@keyframes mobilenav3{
    0%{
        transform:rotate(-45deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
.trans5{
    transition:all 0.5s;
}
/*--------------------------fontface--------------------------*/
@font-face {
    font-family: 'iconfont';  /* project id 1623107 */
    src: url('http://at.alicdn.com/t/font_1623107_32apipbsqau.eot');
    src: url('http://at.alicdn.com/t/font_1623107_32apipbsqau.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_1623107_32apipbsqau.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_1623107_32apipbsqau.woff') format('woff'),
    url('http://at.alicdn.com/t/font_1623107_32apipbsqau.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_1623107_32apipbsqau.svg#iconfont') format('svg');
  }


/*--------------------------nav--------------------------*/
nav{
    height:60px;
    background:transparent;
    position: fixed;
    width: 100%;
    z-index:999;
    .header-content{
        max-width:1340px;
        margin:0 auto;
        padding: 0 20px;
        height: 60px;
        line-height: 60px;
        position: relative;;
        .mobilenav{
            float: left;
            width: 48px;
            height: 48px;
            top: 50%;
            position: relative;
            transform: translateY(-50%);
            cursor: pointer;
            span{
                width: 24px;
                height: 3.5px;
                background: #000;
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                &::before{
                    width: 24px;
                    height: 3px;
                    content: "";
                    background: #000;
                    position: absolute;
                    display: block;
                    top: -6px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                &::after{
                    content: "";
                    width: 24px;
                    height: 3px;
                    background: #000;
                    position: absolute;
                    display: block;
                    top: 10px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            display:none;
        }
        .logo{
            display:inline-block;
            height:60px;
            float:left;
            img{
                min-width: 130px;
                height: 40px;
                margin: 10px 0;
            }
        }
        .topnav{
            float:left;
            margin-left: 30px;
            font-size:14px;
            position: relative;
            >ul{                //TODO: ul
                float:left;
                margin:0 20px;
                position: relative;
                .inflex{
                    color:#000;
                    float: left;
                    display: inline-flex;
                }
            }
            .rotate{
                font-size:12px;
                float: left;
                display: block;
            }
            >a{
                float:left;
                display:block;
                margin:0 20px;
                color:#000;
            }
            .TwoNav{
                position: absolute;
                top: 59px;
                padding-top: 10px;
                width: 180px;
                background: #fff;
                left:0;
                box-shadow: 0px 0px 30px 0px rgba(3, 65, 157, 0.2);
                &::after{
                    content: ' ';
                    position: absolute;
                    top: -10px;
                    left: 32px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 10px 10px 10px;
                    border-color: transparent transparent #fff transparent;
                }
                li{
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-size: 14px;
                        color: #202D40;
                        line-height: 1;
                        font-weight: normal;
                        padding: 10px 12px;
                    }
                }
                display:none;
            }
            .TwoNav1{
                left:-14px;
            }
        }
        .login-zone{
            float:right;
            >div{
                float: left;
                margin-right:20px;
                >a{
                    color:#000;
                    padding: 6px 20px;
                    background: #ebeff5;
                    font-size: 14px;
                    border-radius: 3px;
                    &:hover{
                        color:#fff;
                        background-color: #606c80;
                    }
                }
            }
            .reg{
                a{
                    color:#fff;
                    background:#0066ff;
                    &:hover{
                        background:#3385ff;
                    }
                }
            }
        }
        .log-reg{
            cursor: pointer;
            display:none;
        }
    }
    .mobile{
        width: calc(100% - 20px);
        position: absolute;
        top: 60px;
        box-shadow: 0 0 8px 0 #f4f4f4;
        border-radius: 3px;
        background: #fff;
        .downNav{
            padding:0 20px;
            >li:nth-child(1),>li:nth-child(2){
                border-bottom: 1px #e0e0e0 solid;
            }
            a{
                color:#000;
            }
            .mobiledownNav{
                ul{
                    padding-left:20px;
                    li{
                        height:40px;
                        line-height:40px;
                        a{
                            font-size:14px;
                        }
                    }
                }
                display:none;
            }
            .downNavLi1{
                i{
                    position: absolute;;
                    right:20px;
                    font-size:14px;
                }
            }
            .downNavLi2{
                i{
                    position: absolute;;
                    right:20px;
                    font-size:14px;
                    transform:rotate(-90deg);
                }
            }
            .downNavLi3{
                i{
                    position: absolute;;
                    right:20px;
                    font-size:14px;
                }
            }
        }
        display:none ;
    }
    .special{
        color:#ee702e;
        font-size:14px;
    }
}
.index-container{
    .content{
        .banner-section{
            background-color: #fff;
            height: 1212px;
            position: relative;
            .section-bg {
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 10;
                .bg-box {
                    width: 100%;
                    height: 1012px;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -ms-flex-align: center;
                    align-items: center;
                    position: relative;
                    .img.pc-img {
                        display: block;
                    }
                    .img {
                        height: 100%;
                    }
                    .img.mb-img {
                        display: none;
                    }
                }
            }
            .section-container {
                max-width: 1300px;
                margin: 0 auto;
                position: relative;
                padding: 0;
                z-index: 11;
                .info {
                    color: #000;
                    width: 100%;
                    position: relative;
                    z-index: 99;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-align: center;
                    align-items: center;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    padding-top: 197px;
                    .box {
                        overflow: hidden;
                        h2 {
                            font-size: 44px;
                            font-weight: 500;
                            letter-spacing: 0px;
                            line-height: 60px;
                        }
                    }
                    .pc-p {
                        margin-top: 20px;
                        .box {
                            overflow: hidden;
                            p {
                                text-align: center;
                                font-size: 16px;
                                color: #76808e;
                                font-weight: normal;
                            }
                        }
                    }
                    .btn-area {
                        margin-top: 50px;
                        .btn1{
                            height: 50px;
                            width: 180px;
                            text-align: center;
                            line-height: 50px;
                            cursor: pointer;
                            overflow: hidden;
                            a {
                                background: #0066FF;
                                border-radius: 2px 2px 2px 2px;
                                -webkit-box-shadow: 0 0 29px 0 rgba(3, 65, 157, 0.1);
                                box-shadow: 0 0 29px 0 rgba(3, 65, 157, 0.1);
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                color: #fff;
                                text-decoration: unset;
                                font-size: 20px;
                                font-weight: 600;
                            }
                        }
                    }
                }
                .section-content {
                    max-width: 1100px;
                    margin: 0 auto;
                    padding: 0;
                }
                .section-content {
                    max-width: 1300px;
                    margin-top: 178px;
                    padding: 0;
                    position: relative;
                    z-index: 11;
                    .tab-content {
                        max-width: 1300px;
                        padding: 60px 96px 20px 101px;
                        margin: 0 auto;
                        -webkit-box-shadow: 0px 0px 34px 0px rgba(3, 65, 157, 0.1);
                        box-shadow: 0px 0px 34px 0px rgba(3, 65, 157, 0.1);
                        background-color: #fff;
                        .h3 {
                            color: #000;
                            font-size: 40px;
                            font-weight: normal;
                            text-align: center;
                            margin-bottom: 50px;
                        }
                        .tab-row {
                            display: -ms-flexbox;
                            display: flex;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                            margin-bottom: 60px;
                            .tab-item {
                                display: -ms-flexbox;
                                display: flex;
                                -ms-flex-align: center;
                                align-items: center;
                                width: 470px;
                                .icon {
                                    width: 70px;
                                    margin-right: 40px;
                                    img {
                                        display: block;
                                        width: 70px;
                                    }
                                }
                                .tit {
                                    font-size: 20px;
                                    font-weight: 600;
                                    color: #202c40;
                                    margin-bottom: 16px;
                                }
                                .desc {
                                    font-size: 14px;
                                    font-weight: normal;
                                    color: #606c80;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.container1{
    margin-top: 0 !important;
    z-index: 1;
}
.index-container {
    background: #fff;
    // overflow-x: hidden;
}
.start-section {
    width: 100%;
    height: 179px;
    position: relative;
}
.section-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
}
.bg-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.pc-img {
    display: block;
}
.img {
    height: 100%;
}
.section-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    position: relative;
    letter-spacing: 1.5px;
    height: 100%;
    z-index: 99;
}
.start-section .section-content .btn1 {
    margin-left: 30px;
    background: #fff;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    width: 180px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    -webkit-box-shadow: 0 0 29px 0 rgba(3, 65, 157, 0.1);
    box-shadow: 0 0 29px 0 rgba(3, 65, 157, 0.1);
}
.start-section .section-content .btn1  a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #0066FF;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.user-section {
    position: relative;
}
.user-section .section-content {
    max-width: 1100px;
    position: relative;
    z-index: 11;
}
.section-content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}
.section-content .title {
    color: #000;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1;
    text-align: center;
}
.user-section .section-content .user-content {
    max-width: 1100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 90px auto;
}
.user-section .section-content .user-content .item.item1 {
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.user-section .section-content .user-content .item {
    width: 948px;
    height: 170px;
    position: relative;
    margin-bottom: 60px;
    z-index: 1;
}
.user-section .section-content .user-content .item .img {
    background: #f4faff;
    border-radius: 0px 0px 0px 0px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    height: 50px;
    position: absolute;
    top: 0;
    left: 40px;
    z-index: 10;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.user-section .section-content .user-content .item .img img {
    height: 100%;
}
.user-section .section-content .user-content .item .content {
    margin-top: 30px;
    height: 140px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 34px 0px rgba(15, 34, 74, 0.1);
    box-shadow: 0px 6px 34px 0px rgba(15, 34, 74, 0.1);
    position: relative;
    z-index: 9;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.user-section .section-content .user-content .item .content .word {
    height: 112px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.user-section .section-content .user-content .item .content .word .left {
    color: #dadfe6;
    font-family: ArialMT;
    font-size: 100px;
    height: 112px;
    text-align: justify;
    width: 34px;
    margin-left: 30px;
    margin-right: 16px;
    margin-top: 6px;
}
.user-section .section-content .user-content .item .content .word .right {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    height: 48px;
    letter-spacing: 0px;
    line-height: 24px;
    text-align: justify;
    width: 680px;
    margin-top: 56px;
}
.user-section {
    position: relative;
}
.section-content .title {
    color: #000;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1;
    text-align: center;
}
.user-section .section-content .icon-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}
.user-section .section-content .icon-content .item {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    margin-bottom: 15px;
    text-align: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: gray;
    filter: gray;
    opacity: 0.5;
}
.user-section .section-content .icon-content .item img {
    height: 60px;
    display: inline-block;
}
.user-section .section-content .user-content .item.item2 {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.user-section .section-content .user-content .item.item3 {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: 0;
}
.user-section .section-content .icon-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}


/*--------------------------banner--------------------------*/






/*--------------------------content--------------------------*/





/*--------------------------footer--------------------------*/
.footer-container {
    background: #202D40;
    width: 100%;
    height: 390px;
    position: relative;
}
.footer-container .footer {
    max-width: 1100px;
    padding: 50px 0 0 0;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-container .footer .left {
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
}
.footer-container .footer .left .logo {
    max-height: 30px;
}
.footer-container .footer .left .list {
    list-style: none;
    margin-top: 12px;
}
.footer-container .footer .left li {
    color: #DADFE6;
    float: left;
    width: 25%;
}

.footer-container .footer .left .list li {
    width: 100%;
    font-size: 14px;
    line-height: 28px;
}
.footer-container .footer .left .list a {
    color: #dadfe6;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
}
.footer-container .footer .us {
    -ms-flex: 1 1 65%;
    flex: 1 1 65%;
    list-style: outside none none;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-container .footer .us .us-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-container .footer .us .us-row .us-col.item1 {
    width: 90px;
}
.footer-container .footer .us h3 {
    margin: 0 0 16px;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.footer-container .footer .us .list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-container .footer .us .list li {
    width: 100%;
    font-size: 14px;
    line-height: 28px;
}
.footer-container .footer .us .list a {
    color: #DADFE6;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
}
.footer-container .footer .us .us-row .us-col.item2 {
    width: 154px;
}
.footer-container .footer .us .us-row .us-col.item3 {
    width: 76px;
}
.footer-container .footer .us .us-row .us-col.item4 {
    width: 90px;
}
.footer-container .footer .us .us-row .us-col.item5 {
    width: 60px;
}
.footer-container .footer .left .share .share-img, .footer-container .footer .us .share .share-img {
    width: 14px;
    opacity: 0.8;
    cursor: pointer;
    margin-right: 20px;
}

.footer-container .footer .left .share .share-img, .footer-container .footer .us .share .share-img {
    width: 14px;
    opacity: 0.8;
    cursor: pointer;
    margin-right: 20px;
}
.footer-container .footer .left .share .share-img, .footer-container .footer .us .share .share-img {
    width: 14px;
    opacity: 0.8;
    cursor: pointer;
    margin-right: 20px;
}
.footer-container .footer .left .share .qrcode, .footer-container .footer .us .share .qrcode {
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 999;
}
.footer-container .footer .left .share .share-img, .footer-container .footer .us .share .share-img {
    width: 14px;
    opacity: 0.8;
    cursor: pointer;
    margin-right: 20px;
}
.footer-container .copyright {
    color: #DADFE6;
    width: 100%;
    height: 112px;
    border-top: 1px solid #3F4C5F;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-container .copyright .copyright-content {
    height: 100%;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}
.footer-container .copyright .copyright-content .info {
    height: 100%;
    font-size: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-container .copyright .copyright-content .info p:first-child {
    margin-bottom: 12px;
}
.footer-container .copyright .copyright-content .info img {
    vertical-align: -8px;
    margin-right: 5px;
}
.footer-container .copyright .copyright-content .info .cr-pc {
    display: block;
}
.footer-container .copyright .copyright-content .info a {
    color: #fff;
    text-decoration: none;
}
.footer-container .copyright .copyright-content .info .police {
    vertical-align: -5px;
    margin-left: 5px;
}
.feature-section {
    margin-top: -90px;
    padding-bottom: 0px;
}
.feature-section .section-box {
    width: 100%;
    background-color: #fff;
    height: 700px;
    position: relative;
}
.feature-section .section-content {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    z-index: 11;
}
.feature-section .item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.feature-section .item .word {
    max-width: 322px;
}
.feature-section .item .word .tit {
    font-size: 40px;
    color: #202d40;
    font-weight: 400;
    padding: 10px 0 40px;
    white-space: nowrap;
}
.feature-section .item .word .carousel-dots {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.feature-section .item .word .carousel-dots .dot-con {
    width: 100%;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
}
.feature-section .item .word .carousel-dots .dot-con .process-bar.more {
    height: 102px;
}
.feature-section .item .word .carousel-dots .dot-con .txt {
    width: 300px;
}
.feature-section .item .word .carousel-dots .dot-con .txt h4 {
    line-height: 25px;
    font-size: 18px;
    color: #202d40;
    margin-bottom: 10px;
    font-weight: normal;
}
.feature-section .item .word .carousel-dots .dot-con .txt p {
    color: #606c80;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}
.feature-section .item .word a {
    color: #0066FF;
}
.feature-section .item .carousel {
    width: 666px;
    height: 466px;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(3, 65, 157, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(3, 65, 157, 0.1);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.feature-section .item .carousel .carousel-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #DADFE6;
}
.feature-section .item .carousel .carousel-inner {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 626px;
    height: 426px;
}
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.feature-section .item .carousel .carousel-inner .slick-track {
    display: inline-block;
}

/*--------------------------响应式--------------------------*/
@media(max-width:768px){
    nav{
        .topnav{
            display:none;
        }
        .login-zone{
            display:none;
        }
        .header-content{
            padding:0 10px !important;
        }
        .log-reg{
            display:inline-block !important;
            float:right;
        }
        .mobilenav{
            display:block !important;
        }
    }
    
}



